<div class="footer-menu">
    <div class="info">
        <div>
            <h2 class="line-space">СВЪРЖИ СЕ С НАС</h2>
            <div class="menu-line">
                <img class="nav-img" src="/pictures/nav/pin.png" alt="" onContextMenu="return false;">
                <h3>Пловдив, ул. Петко Каравелов 20</h3>
            </div>
            <div class="menu-line">
                <img class="nav-img" src="/pictures/nav/apple.png" alt="" onContextMenu="return false;">
                <h3>colortrap.ltd@gmail.com</h3>
            </div>
            <div class="menu-line">
                <img class="nav-img" src="/pictures/nav/telephone-symbol-button.png" alt="" onContextMenu="return false;">
                <h3>032/ 517 735</h3>
            </div>
        </div>
        <div>
            <h2 class="line-space">ПОСЛЕДВАЙ НИ</h2>
            <a class="nav-btn" href="https://www.facebook.com/people/Colortrap/61583353547226/">
                <img class="nav-img" src="/pictures/nav/facebook.png" alt="" onContextMenu="return false;">
            </a>
        </div>
        <div>
            <h2 class="line-space">РАБОТНО ВРЕМЕ</h2>
            <div>
                <h3>Вторник-Неделя</h3>
                <h3>13:00-21:30 ч.</h3>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="sig">&copy; COLORTRAP 2025 All rights reserved</div>
    </div>
</div>