
            <div class="footer-menu">
                <div>
                    <h2 class="line-space">СВЪРЖИ СЕ С НАС</h2>
                    <div class="menu-line">
                        <img class="nav-img" src="pictures/nav/pin.png" alt="" onContextMenu="return false;">
                        <p>Пловдив, ул. Петко Каравелов 20</p>
                    </div>
                    <div class="menu-line">
                        <img class="nav-img" src="pictures/nav/apple.png" alt="" onContextMenu="return false;">
                        <p>colortrap.ltd@gmail.com</p>
                    </div>
                    <div class="menu-line">
                        <img class="nav-img" src="pictures/nav/telephone-symbol-button.png" alt="" onContextMenu="return false;">
                        <p>032/ 517 735</p>
                    </div>
                </div>
                <div>
                    <h2 class="line-space">ПОСЛЕДВАЙ НИ</h2>
                    <a class="nav-btn" href="https://www.facebook.com/people/Colortrap/61583353547226/">
                        <img class="nav-img" src="pictures/nav/facebook.png" alt="" onContextMenu="return false;">
                    </a>
                </div>
                <div>
                    <h2 class="line-space">РАБОТНО ВРЕМЕ</h2>                    
                    <div>
                        <p>Вторник-Неделя</p>
                        <p>13:00-21:30 ч.</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="sig">&copy; COLORTRAP 2025 All rights reserved</div>
            </div>