<div class="navigation">
    <ul>
        <li class="logo">
            <a class="logo-btn" th:href="@{/}">
                <img class="logo-img" th:src="@{/pictures/logo/loge_with_name.png}" alt="Лого COLORTRAP Пловдив"  onContextMenu="return false;">
            </a>
        </li>
        <li>
            <ul class="menu" id="menu">
                <li id="btn-menu">
                    <a class="nav-btn" href="">
                        <img class="menu-img desk" th:src="@{/pictures/nav/application.png}" alt="Меню бутон COLORTRAP" onContextMenu="return false;">
                    </a>
                </li>
                <li class="flow"><a class="nav-btn" th:href="@{/}">НАЧАЛО</a></li>
                <li class="flow" id="btn-up-down"><a class="nav-btn" th:href="@{/calendar-pnc-all}">КАЛЕНДАР</a></li>
                
                <li class="flow"><a class="nav-btn" th:href="@{/girtCard}">ВАУЧЕРИ</a></li>
                <li class="flow"><a class="nav-btn" th:href="@{/privateParty}">ЧАСТНИ СЪБИТИЯ</a></li>
                <li class="flow"><a class="nav-btn" th:href="@{/promo}">ПРЕПОРЪЧАНО</a></li>
            </ul>
        </li>
    </ul>
</div>