<div class="navigation">
    <ul>
        <li class="logo">
            <a class="logo-btn" th:href="@{/}">
                <img class="logo-img" th:src="@{pictures/logo/loge_with_name.png}" alt="Лого COLORTRAP Пловдив"  onContextMenu="return false;">
            </a>
        </li>
        <li>
            <ul class="menu">
                <li><a class="nav-btn" th:href="@{/}">НАЧАЛО</a></li>
                <li><a class="nav-btn" th:href="@{/about}">ЗА НАС</a></li>
                <li><a class="nav-btn" th:href="@{/calendar}">КАЛЕНДАР</a></li>
                <li><a class="nav-btn" th:href="@{/girtCard}">ВАУЧЕРИ</a></li>
            </ul>
        </li>
    </ul>
</div>