<div class="navigation">
    <ul>
        <li class="logo">
            <a class="logo-btn" th:href="@{/}">
                <img class="logo-img" th:src="@{pictures/logo/loge_with_name.png}" alt="Лого COLORTRAP Пловдив"  onContextMenu="return false;">
            </a>
        </li>
        <li>
            <ul class="menu" id="menu">
                <li id="btn-menu">
                    <a class="nav-btn" href="">
                        <img class="menu-img desk" th:src="@{pictures/nav/application.png}" alt="Меню бутон COLORTRAP" onContextMenu="return false;">
                    </a>
                </li>
                <li class="flow"><a class="nav-btn" th:href="@{/}">НАЧАЛО</a></li>
                <li class="flow" id="btn-up-down"><a class="nav-btn" href="">КАЛЕНДАР <img class="open-img" id="img-up-down" th:src="@{pictures/nav/down.png}" alt="Меню бутон COLORTRAP" onContextMenu="return false;"></a></li>
                <li class="hidden" id="menu-up-down">
                    <ul>
                        <li><a class="nav-btn" th:href="@{/calendar}">ЗА ВЪЗРАСТНИ</a></li>
                        <li><a class="nav-btn" th:href="@{/calendar}">ЗА ДЕЦА</a></li>
                        <li><a class="nav-btn" th:href="@{/calendar}">ИЗЛОЖБЕНА ЗАЛА</a></li>
                        <li><a class="nav-btn" th:href="@{/calendar}">ВИЖ ВСИЧКИ</a></li>
                    </ul>
                </li>
                <li class="flow"><a class="nav-btn" th:href="@{/girtCard}">ВАУЧЕРИ</a></li>
                <li class="flow"><a class="nav-btn" th:href="@{/girtCard}">ЧАСТНИ СЪБИТИЯ</a></li>
                <li class="flow"><a class="nav-btn" th:href="@{/girtCard}">ПРОМОЦИ</a></li>
            </ul>
        </li>
    </ul>
</div>