/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1500px) {
    .event-wraper{
        flex-direction: column;
    }
    .mobile{
        display: none;
    }
    .event-des{
        width: 60%;
        align-content: end;
    }
    
    .btn-list{
        display: flex;
        justify-content: center;
        justify-self: center;
        align-self: center;
        margin-bottom: 2px;
    }

    .view{    
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
}
        
@media only screen and (max-width: 900px) {
.body{
    font-size: small;
    background-image: url("background_m.PNG" );
    background-size: 100% 100%;
    background-attachment: fixed;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    height: auto;
}

.navigation {
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    margin: 0;
    background-color:black;
    padding: 0;
    text-align: right;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    align-items: flex-end;
    height: 70px;
}

.logo{      
    height: 70px;
    padding-left: 1vh;
    padding-bottom: 0;
    padding-top: 0;
}

.logo-img{
    height: 70px;
    width: auto;
}

.menu{
    display: flex;
    gap: 4vw;
    flex-direction: column;
    align-self: flex-end;
    align-content: center;
    justify-items: center;
    padding-right: 4vw;
}

.menu li a {
    font-size: 11px;
}

.main-wraper{    
    overflow: hidden;
    padding-top: 100px;
    justify-self: center;
    align-self: center;
    width: stretch;
    height: stretch;
    min-height: 100vh;
    max-width: 90vw;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.art{
    flex-direction: column;
    align-content: center;
    align-self: center;
    justify-self: center;
    width: 100%;;
}

.decor-img{
    width: 50%;
}

.decor-des{
    width: 100%;
    justify-self: center;
    align-self: center;
}
.up{    
    flex-direction: column-reverse;
}
.event-des{
    padding: 2%;
    align-self: center;
    justify-self: center;
    justify-items: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.calendar-date{
    position: absolute;
    left: 0;
    text-align: end;
    width: 80px;
    height: 80px;
}
.calendar-type{
    position: absolute;
    right: 0;
    text-align: end;
    width: 80px;
    height: 80px;
}
.footer-menu{
    padding-top: 5vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    text-decoration: none;
}
.btn-list{
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-bottom: 2px;
}

.mobile{
    display: none;
}
.no-gab{
    margin-top: 0;
}

}