/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1500px) {
    .event-wraper{
        flex-direction: column;
    }
    .event-des{
        width: 60%;
        align-content: end;
    }
    
    .btn-list{
        display: flex;
        justify-content: center;
        justify-self: center;
        align-self: center;
        margin-bottom: 2px;
    }

    .view{    
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
}
}

@media only screen and (max-width: 1200px) {
    .mobile{
        display: none;
    }

}

@media only screen and (max-width: 1050px) {
    .section3{
        flex-direction: column;
    }

    .section-art{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-self: center;
        justify-self: center;
        width: 90%;
    }

    .section-decor-img{
        width: 40%;
    }

    .section-decor-des{
        width: 50%;
    }
    
    .mobile1{
        max-width: 100%;
        overflow: hidden;
    }

.dayVew section{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
    max-width: 100%;
    padding: 5px;
    margin: 5px;
}

.calendar-date2{
    position: absolute;
    left: 0;
    top: 0;
    text-align: end;
    width: 20%;
}

}
        
@media only screen and (max-width: 900px) {
.body{
    font-size: small;
    background-image: url("background_m.PNG" );
    background-size: 100% 100%;
    background-attachment: fixed;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    height: auto;
}

.navigation {
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    margin: 0;
    background-color:black;
    padding: 0;
    text-align: right;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    align-items: flex-end;
    height: 70px;
}

.logo{      
    height: 70px;
    padding-left: 1vh;
    padding-bottom: 0;
    padding-top: 0;
}

.logo-img{
    height: 70px;
    width: auto;
}

.menu{
    display: flex;
    gap: 4vw;
    flex-direction: column;
    align-self: flex-end;
    align-content: center;
    justify-items: center;
    padding-right: 4vw;
}

.menu li a {
    font-size: 11px;
}

.main-wraper{    
    overflow: hidden;
    padding-top: 70px;
    justify-self: center;
    align-self: center;
    width: stretch;
    height: stretch;
    min-height: 80%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.up{    
    flex-direction: column-reverse;
}
.event-des{
    padding: 2%;
    align-self: center;
    justify-self: center;
    justify-items: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.calendar-date{
    position: absolute;
    left: 0;
    text-align: end;
    width: 80px;
    height: 80px;
}
.calendar-type{
    position: absolute;
    right: 0;
    text-align: end;
    width: 80px;
    height: 80px;
}

.btn-list{
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-bottom: 2px;
}

.mobile{
    display: none;
}
.no-gab{
    margin-top: 0;
}

.mobile1{
    display: no;
}

.footer-menu{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

}

@media only screen and (max-width: 700px) {
   .info div{
    padding-left: 15px;
    padding-right: 15px;
}
}

@media only screen and (max-width: 600px) {
    .body{
    font-size: xx-small;
    background-image: url("background_m.PNG" );
    background-size: 100% 100%;
    background-attachment: fixed;
}

.art{
    flex-direction: column;
    align-content: center;
    align-self: center;
    justify-self: center;
    width: 85%;
}

.decor-img{
    width: 100%;
}

.decor-des{
    width: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-art{
    flex-direction: column;
    align-content: center;
    align-self: center;
    justify-self: center;
    width: 90%;
}

.section-decor-img{
    width: 100%;
}

.section-decor-des{
    width: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-list{
    flex-wrap: wrap;
}

.desk{
    display: block;
}
.flow{
    display: none;
}

.mobile1{
    display: none;
}

}

@media only screen and (max-width: 500px) {
.back-img{
    align-self: center;
    justify-self: center;
    background-image: url("index_giftCard_image.png");
    background-size: auto 105%;
    background-attachment:local;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.about-img{
    align-self: center;
    justify-self: center;
    background-image: url("index_workshops_image.png");
    background-size: auto 105%;
    background-attachment:local;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.workshop {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 300px;
}

.day section div.picture{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 280px;
    height: 280px;
    overflow: hidden;
}
.day section div.picture img.img{
    justify-self: center;
    align-self: center;
    max-width: 280px;
    max-height: 280px;
}
}
