/* Large devices */
@media only screen and (max-width: 1500px) {
    .event-wraper{
        flex-direction: column;
    }
    .event-des{
        width: 60%;
        align-content: end;
    }

    .btn-list{
        display: flex;
        justify-content: center;
        align-self: center;
        margin-bottom: 2px;
    }

    .view{
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: auto;
    }
}

@media only screen and (max-width: 1200px) {
    .mobile{
        display: none;
    }
    .section3{
        flex-direction: column;
    }
    .section-art{
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .section-decor-img{
        width: 40%;
    }

    .section-decor-des{
        width: 50%;
    }

    .mobile1{
       max-width: 100%;
       overflow: hidden;
    }
}

@media only screen and (max-width: 1050px) {
    .section3{
        flex-direction: column;
    }

    .section-art{
        flex-direction: row;
        width: 90%;
    }

    .section-decor-img{
        width: 40%;
    }

    .section-decor-des{
        width: 50%;
    }

    .mobile1{
        max-width: 100%;
        overflow: hidden;
    }

    .dayVew section{
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        margin: 5px;
    }

    .calendar-date2{
        width: 20%;
    }
}

@media only screen and (max-width: 950px) {

    .body{
        font-size: small;
        background-image: url("background_m.PNG");
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    .main{
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background-color: black;
    }

    .navigation ul{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        height: 70px;
    }

    .logo{
        height: 70px;
        padding-left: 1vh;
        padding-bottom: 0;
    }

    .logo-img{
        height: 70px;
        width: auto;
    }

    #menu{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        padding-right: 4vw;
        gap: 4vw;
        background-color: black;
    }

    #menu li{
        width: 100%;
        height: fit-content;
        background-color: black;
    }

    #btn-menu{
        padding-top: 20px;
        padding-bottom: 20px;
        width: fit-content;
    }
    

    .menu li a{
        font-size: 11px;
    }

    /* ⬇️ това беше под 800px — вече е тук */
    .desk{
        display: flex;
        align-content: flex-end;
    }

    .flow{
        display: none;
    }

    .main-wraper{
        padding-top: 70px;
        padding-left: 0;
        min-height: 80%;
    }

    .event-des{
        width: 90%;
        padding: 2%;
    }

    .calendar-date,
    .calendar-type{
        width: 80px;
        height: 80px;
    }

    .footer-menu{
        flex-direction: column;
        padding-left: 0;
    }
}

/* ===== ОСТАНАЛИТЕ СТИЛОВЕ ПОД 800px (БЕЗ НАВИГАЦИЯ) ===== */
@media only screen and (max-width: 800px) {

    .body{
        font-size: xx-small;
    }

    .art{
        flex-direction: column;
        width: 85%;
    }

    .decor-img,
    .section-decor-img{
        width: 100%;
    }

    .decor-des,
    .section-decor-des{
        width: 100%;
        gap: 15px;
    }

    .section-art{
        flex-direction: column;
        width: 90%;
    }

    .btn-list{
        flex-wrap: wrap;
    }

    .mobile1{
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .info div{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .back-img,
    .about-img{
        background-size: auto 105%;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .workshop{
        width: 300px;
    }

    .day section div.picture{
        width: 280px;
        height: 280px;
    }

    .day section div.picture img.img{
        max-width: 280px;
        max-height: 280px;
    }
}
