body {
    font-family: Arial, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    display: flex;  
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    min-width: fit-content;
    justify-content: space-between;
    background-image: url("background.png" );
    background-size: 100% 100%;
    background-attachment: fixed;
}

li{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

.navigation {  
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 130px; 
    margin: 0;
    background-color:black;    
    padding: 0;
    text-align: right;
}

.navigation ul{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.title {
    padding: 5%;
    margin: 0;
    font-size: 1.5em;
}

.a-title{
    text-decoration:wavy underline;
    padding-bottom: 3%;
    margin: 0;
}

img.a-title-img{
    width: 100%; 
}

.decor-img{   
    justify-self: center;
    align-self: center;
    width: 60%;
}

.decor-des{
    width: 40%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.down{
    flex-direction: row-reverse;
}
.up{
    flex-direction: row;
}

.workshop {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 220px;
}

.workshop p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.error-img{
    width: 40%;
    display: flex;
    align-self: center;
    justify-self: center;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    height: auto;
}

.main-wraper{
    overflow: hidden;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: stretch;
    height: stretch;
    min-height: 70vh;
    padding-left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    gap: 30px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    margin: 0;
    gap: 1%;
}

.info{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    width: 100%;
}

.sig{
    text-align: center;
    width: auto;
}

.month{
    display: flex;
    flex-direction: column; 
    list-style: none;
    padding: 0px;
    margin: 0;
    width: auto;
    align-items: center;
}

.month li{
    margin: 0;
    padding: 0;
}

.week{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    width: fit-content;
    padding: 0;
    margin: 0;  
    width: 100%; 
}

.day{
    display: flex;
    flex-wrap: wrap;
    margin: 5px; 
}

li.dayVew{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    justify-content: center;
    width: 95%;
}

.view-title{
    margin-top: 1em;
    text-align: center;
}

p{
    margin: 2px;
}

.day section {
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}

.dayVew section{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
    max-width: 100%;
    padding: 5px;
    margin: 5px;
}

.day section div.picture{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.dayVew section div.picture{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60vw;
    height: auto;
    overflow: hidden;
}

.day section div.picture img.img{
    justify-self: center;
    align-self: center;
    max-width: 200px;
    max-height: 200px;
}

.dayVew section div.picture img.img{
    justify-self: center;
    align-self: center;
    max-width: 60vw;
    max-height: 60vw;
}

.view{    
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
}

.view div p{
    margin-top: 3px;
    margin-bottom: 3px;
}

.view p{
    margin-top: 3px;
    margin-bottom: 3px;
}

.date{
    display: flex;
    padding: 0px;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 15px;
    height: fit-content;
    width: 140px;
}

button{
    background-color:transparent;
    border: none;
}

.nav-btn{
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
    width: fit-content;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.menu-img{
    width: 30px;
    float: right;
    padding: 20px;
}
.open-img{
    height: 1em;
}

.menu li{
    padding-bottom: 1vh;
}

.menu li a {
    font-size: 11px;
    padding: 8px;
}

.menu-up-down ul li{
    font-size: 11px;
    padding: 8px;
}

.logo{        
    padding-bottom: 20vh;
    padding-top: 1vh;
}

a.logo-btn{
    background-color: transparent;
    border: none;
}

.nav-img{
    width: 30px;
    padding: 5px;
}

.logo-img{
    width: 100%;
}

.btn-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    align-self: center;
    margin-bottom: 2px;
    width: fit-content;
}

.btn-list div{   
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:transparent;
    background-image: url("button_image.png");
    background-size: 100% 200%;
    background-position: center;
    width: 140px;
    height: 80px;
    
}

.center{
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
}

.flex{
    display: flex;
    padding: 0px;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-menu{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 130px;
    padding-top: 5vh;
    padding-bottom: 2vh;
    justify-content: space-around;
    align-content: space-around;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;   
}

.footer-menu div h2{
    text-decoration:wavy underline;
}

.menu-line{
    display: flex;
    font-size: 0.8em;
    text-align: center;
    align-self: center;
}

.line-space{
    font-size: 1.2em;
    padding-bottom: 1px;
}

.art{
    display: flex;
    width: 80%;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content:space-around;
    justify-self: center;
}

.center{
    text-align: center;
    padding: 0;
}

.normal{
    font-weight: normal;
    margin: 0;
}

.calendar{
    justify-self: center;
    align-self: center; 
    width: fit-content;  
}

.calendar-date{    
    position: absolute;
    left: 0;
    text-align: end;
    width: 20%;
}

.calendar-date2{
    position: absolute;
    left: 0;
    top: 0;
    text-align: end;
    width: 10%;
}

.calendar-type{
    position: absolute;
    right: 0;
    text-align: end;
    width: 20%;
}

.event-wraper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    margin-bottom: 1%;
    overflow: hidden;
}

.event-des{
    align-self: center;
    justify-self: center;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.text-justify {
    text-align: justify;
}

.hidden{
    display: none;
}

.desk{
    display: none;
}

.flow{
    display: block;
}

.section1{
    color:rgb(214, 214, 214);
    width: 100%;
    background-color:black;
}

.section2{
    flex-direction: column;
}

.section3{
    display: flex;
    width: 98%;
    justify-content: space-evenly;
    align-content: space-evenly;    
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.nowrap{    
    flex-wrap: nowrap;
    overflow: hidden;
}

.section-art{
    flex-direction: column;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    justify-items: center;
    width: 30%;
}

.section-decor-img{
    width: 100%;
}

.section-decor-des{
    width: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile1{
    max-width: 68%;
    overflow: hidden;
}

.back-img{
    align-self: center;
    justify-self: center;
    background-image: url("index_giftCard_image.png");
    background-size: 100% auto;
    background-attachment:local;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.about-img{
    align-self: center;
    justify-self: center;
    background-image: url("index_workshops_image.png");
    background-size: 100% auto;
    background-attachment:local;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.banner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: rgb(129, 129, 129, 0.8);
}

.title-section{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

.promo{
    text-decoration: line-through;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-top: rgb(114, 114, 114) solid 1px;
}

.red{
    color:blue;
}

/* Нови правила за подменюто КАЛЕНДАР */
#menu-up-down {
    display: none; /* по подразбиране скрито */
}

#menu-up-down.show {
    display: block; /* когато JS добави show, се показва */
}

#menu-up-down ul{
    display: flex;
    flex-direction: column;
}

