<!DOCTYPE html>
<html lang="bg-BG" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      class="sr js_active vc_desktop vc_transform vc_transform ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

    <title>COLORTRAP - Календар на арт събитията</title>
    <meta name="description" content="Разгледайте календара на COLORTRAP в Пловдив – арт работилници, рисуванес и вино, творчески вечери и специални събития за всички възрасти. Не пропускайте вдъхновяващи преживявания в Пловдив.">
    
    
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "COLORTRAP",
      "image": "pictures/logo/loge_with_name.png",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. Петко Каравелов 20",
        "addressLocality": "Пловдив",
        "addressCountry": "BG"
      },
      "email": "colortrap.ltd@gmail.com",
      "telephone": "032/557735",
      "url": "https://www.colortrap.azurewebsites.net",
      "sameAs": ["https://www.facebook.com/people/Colortrap/61583353547226/"]
    }
    </script>
</head>

<body>

<div class="main">
    <th:block>
        <div th:replace="~{fragments/nav}"></div>
    </th:block>

    <div class="main-wraper"> 
        <!-- Секция: Арт занимания за деца -->
        <h1 class="a-title center">Арт занимания за деца</h1>
        <div class="art down">
            <div class="decor-img">
                <img class="a-title-img" src="pictures/decor/index_kidsWorkshops_image.png" alt="Арт занимания за деца COLORTRAP" onContextMenu="return false;">
            </div>
            <div class="decor-des">
                <div>
                    <p class="text-justify no-gab">Децата са най-естествените творци, а в COLORTRAP сме създали арт занимания, където въображението има пълна свобода, а ученето и играта вървят ръка за ръка.</p>
                    <p class="text-justify mobile">Нашите художници подкрепят и вдъхновяват всяко дете, като насърчават любопитството и творческата му индивидуалност. Децата под 7 години участват задължително с възрастен придружител, за да могат заедно да се забавляват и откриват радостта от творчеството.</p>
                    <p class="text-justify mobile">Арт заниманията в COLORTRAP са перфектен начин за развитие на креативност, увереност и радост от създаването – преживяване, което остава в сърцето на малките творци.</p>
                    <div class="btn-list">
                        <div>
                            <a class="btn" th:href="@{/calendar}" >Към календар</a>
                        </div>
                        <div>
                            <a class="btn" th:href="@{/}" >Начало</a>
                        </div>
                    </div>
                </div>
            </div>       
        </div>

        <ul class="week">
            <li class="day" th:each="workshop:${workshops}">
                <section>
                    <img class="calendar-date" th:src="${workshop.datePicUrl}" alt="Дата на събитието COLORTRAP" onContextMenu="return false;">
                    <img class="calendar-type" th:src="${workshop.typePicUrl}" alt="Тип арт събитие COLORTRAP" onContextMenu="return false;">
                    <div class="picture">
                        <img class="img" th:src="${workshop.pictureUrl}" alt="Изображение от арт събитие в COLORTRAP" onContextMenu="return false;">
                    </div>
                    <div class="workshop">
                        <div>
                            <h3 th:text ="${workshop.eventType}" class="normal">Тип събитие</h3>
                            <h3 th:text ="${workshop.title}" class="normal">Заглавие на събитие</h3>
                        </div>
                        <p th:text = "${workshop.suitableFor}">Подходящо за всички възрасти</p>
                        <p th:text = "${workshop.price}">40лв. (20.45 &isin;)</p>
                        <div class="btn-list">
                            <div>
                                <a class="btn" th:href="@{|/${workshop.id}|}" >Виж повече</a>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
        
        <th:block>
            <div th:replace="~{fragments/foot}"></div>
        </th:block>
    </div>

</div>

</body>
</html>