<!DOCTYPE html>
<html lang="bg-BG" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      class="sr js_active vc_desktop vc_transform vc_transform ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

    <title>COLORTRAP - Арт работилници, рисуване и вино, арт вечери, изложби и творчески преживявания</title>
    <meta name="description" content="Посетете COLORTRAP в Пловдив – арт работилници, рисуване и вино, арт вечери, изкуство за деца и творчески преживявания. Открийте магията на цветовете и вдъхновението.">
    
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "COLORTRAP",
      "image": "pictures/logo/loge_with_name.png",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. Петко Каравелов 20",
        "addressLocality": "Пловдив",
        "addressCountry": "BG"
      },
      "email": "colortrap.ltd@gmail.com",
      "telephone": "032/557735",
      "url": "https://www.colortrap.azurewebsites.net",
      "sameAs": ["https://www.facebook.com/people/Colortrap/61583353547226/"]
    }
    </script>
</head>

<body>

<div class="main">
    <th:block>
        <div th:replace="~{fragments/nav}"></div>
    </th:block>

    <div class="main-wraper"> 
        
        <!-- Секция: добре дошли --> 
        <div class="art">
            <div class="decor-img">
                <img class="a-title-img" src="pictures/decor/index_welcome_image.png" alt="Цветна арт декорация COLORTRAP" onContextMenu="return false;">
            </div>
            <div class="decor-des">
                <h2 class="a-title center">COLORTRAP – където изкуството оживява</h2>
                <div>
                    <p class="text-justify no-gab">Представете си място, където цветовете говорят, формите разказват истории, а въображението няма граници. Добре дошли в COLORTRAP – арт галерия и творчески оазис в сърцето на Пловдив.</p>
                    <p class="text-justify mobile">Тук всеки момент е покана за откритие: от интерактивни арт работилници, през изложби на гостуващи творци, до вдъхновяващи срещи с изкуството. COLORTRAP не е просто галерия – това е преживяване, което ви позволява да се свържете със себе си, с другите и с магията на творчеството.</p>
                    <p class="text-justify mobile">Стъпете вътре и открийте свят, където границите между реалност и въображение изчезват.</p>
                    <div class="btn-list">
                        <div>
                            <a class="btn" th:href="@{/promo}" >Специални предложения</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-section">
            <h1 class="a-title center">Предстоящо днес</h1>
            <div class="btn-list">
                <div>
                    <a class="btn" th:href="@{/calendar-pnc-all}" >Разгледай календара</a>
                </div>
            </div>
        </div>
        <div class="event-wraper up">           
            <div class="calendar">
                <th:block>
                    <ul th:replace="~{fragments/itemlist}"></ul>
                </th:block>
            </div>
        </div>

         <!-- Секция: Ваучери -->    
        <div class="section1">
            <div class="back-img">
                <div class="art">
                    <div class="decor-des">
                        <div class="banner">
                            <h2 class="a-title center">Подари арт преживяване</h2>
                            <div>
                                <p class="text-justify no-gab">Най-ценните подаръци не се побират в кутия – те се остават в сърцето. С арт ваучер на COLORTRAP подарявате цветове, усмивки и вдъхновение. Получателят ще се потопи в магията на изкуството, ще създаде своя собствен шедьовър и ще преживее моменти, които остават за дълго.</p>
                                <p class="text-justify mobile">Изберете своя подарък и подарете не просто вещ, а спомен, емоция и часове, изпълнени с творчество и радост – подходящо както за приятели, така и за познати, колеги или всеки, на когото искате да подарите вдъхновение.</p>
                                <div class="btn-list">
                                    <div>
                                        <a class="btn" th:href="@{/girtCard}" >Закупи ваучер</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <!-- Секция: категории работилници -->
        <div class="section3">
            <div class="section-art down column"> 
                <div class="section-decor-des">
                    <h2 class="a-title center">Сподели вдъхновението с приятели</h2>
                    <div>
                        <div>
                            <p class="text-justify mobile">Има ли нещо по-вълнуващо от това да преживееш красотата заедно с приятели? В COLORTRAP вярваме, че изкуството разцъфтява, когато се споделя. Поканете свой приятел и се потопете заедно в свят на цветове, въображение и радост от творчеството.</p>
                            <p class="text-justify">За да направим момента още по-специален, сме подготвили изненади, отстъпки и малки подаръци – защото красивите споделени преживявания остават в сърцата за дълго.</p>
                        </div>
                    </div>
                    <div class="btn-list">
                        <div>
                            <a class="btn" th:href="@{/calendar-pnc-forkids}" >Работилници за деца</a>
                        </div>
                        <div>
                            <a class="btn" th:href="@{/calendar-pnc-foradults}" >Работилници за възрастни</a>
                        </div>
                    </div> 
                </div>
                <div class="section-decor-img">
                    <img class="a-title-img" src="pictures/decor/index_share_image.png" alt="Арт вечер с приятели COLORTRAP" onContextMenu="return false;">
                </div> 
                
            </div>
        
            <div class="mobile1">
                <div>
                    <!-- Секция: категория за деца -->
                    <div class="event-wraper up">                                           
                        <div class="calendar">
                            <ul class="week nowrap">
                                <li class="day" th:each="kid:${kids}">
                                    <section>
                                        <img class="calendar-date" th:src="${kid.datePicUrl}" alt="Дата на арт събитие COLORTRAP" onContextMenu="return false;">
                                        <img class="calendar-type" th:src="${kid.typePicUrl}" alt="Тип арт събитие COLORTRAP" onContextMenu="return false;">
                                        <div class="picture">
                                            <img class="img" th:src="${kid.pictureUrl}" alt="Изображение на събитие COLORTRAP" onContextMenu="return false;">
                                        </div>
                                        <div class="workshop">
                                            <div>
                                                <h2 th:text ="${kid.eventType}" class="normal"></h2>
                                            </div>
                                            <p th:text = "${kid.suitableFor}"></p>
                                            <p th:text = "${kid.price}"></p>
                                            <div class="btn-list">
                                                <div>
                                                    <a class="btn" th:href="@{|/workshop-pncw/${kid.id}|}" >Виж повече</a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- Секция: категория за възрастни -->
                    <div class="event-wraper up">
                        <div class="calendar">
                            <ul class="week nowrap">
                                <li class="day" th:each="adult:${adults}">
                                    <section>
                                        <img class="calendar-date" th:src="${adult.datePicUrl}" alt="Дата на арт събитие COLORTRAP" onContextMenu="return false;">
                                        <img class="calendar-type" th:src="${adult.typePicUrl}" alt="Тип арт събитие COLORTRAP" onContextMenu="return false;">
                                        <div class="picture">
                                            <img class="img" th:src="${adult.pictureUrl}" alt="Изображение на събитие COLORTRAP" onContextMenu="return false;">
                                        </div>
                                        <div class="workshop">
                                            <div>
                                                <h2 th:text ="${adult.eventType}" class="normal"></h2>
                                            </div>
                                            <p th:text = "${adult.suitableFor}"></p>
                                            <p th:text = "${adult.price}"></p>
                                            <div class="btn-list">
                                                <div>
                                                    <a class="btn" th:href="@{|/workshop-pncw/${adult.id}|}" >Виж повече</a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
              

        <!-- Секция: Частно парти -->
         <div class="section3">
            <div class="section-art down column">
                <div class="section-decor-des">
                    <h2 class="a-title center">Създайте свое специално арт преживяване</h2>
                    <div>
                        <p class="text-justify no-gab">Някои моменти заслужават повече от обикновен празник – те заслужават спомени, които остават. В COLORTRAP можете да организирате частна арт вечер, създадена специално за вас и вашия повод.</p>
                        <p class="text-justify mobile">Под ръководството на нашите художници ще творите заедно в уютна и вдъхновяваща атмосфера – ще се смеете, ще споделяте и ще откривате нови страни от себе си и другите. На края на вечерта няма да си тръгнете само с творбата, която сте създали, а със споделени усмивки, истории и усещането, че сте създали нещо истинско – заедно.</p>
                        <p class="text-justify mobile">Подарете си вечер, която превръща всеки повод в изкуство и оставя трайни спомени.</p>
                        <div class="btn-list">
                            <div>
                                <a class="btn" th:href="@{/calendar-pnc-gallery}" >Изложбена зала</a>
                            </div>
                            <div>
                                <a class="btn" th:href="@{/privateParty}" >Частни събития</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="section-decor-img">
                    <img class="a-title-img" src="pictures/decor/index_privateParty_image.png" alt="Декоративно изображение – частно арт парти COLORTRAP" onContextMenu="return false;">
                </div>
            </div>

            <div class="mobile1">
                <div>
                    <!-- Секция: категория частно събитие наем зала -->
                    <div class="event-wraper up">                                           
                        <div class="calendar">
                            <ul class="week">
                                <li class="day" th:each="rentItem:${rentItems}">
                                    <section>
                                       <div class="picture">
                                            <img class="img" th:src="${rentItem.pictureUrl}" alt="Изображение на събитие COLORTRAP" onContextMenu="return false;">
                                        </div>
                                        <div class="workshop">
                                            <div>
                                                <h2 th:text ="${rentItem.title}" class="normal"></h2>
                                            </div>
                                            <p th:text = "${rentItem.suitableFor}"></p>
                                            <p th:text = "${rentItem.price}"></p>
                                            <div class="btn-list">
                                                <div>
                                                    <a class="btn" th:href="@{|/workshop-pncw/${rentItem.id}|}" >Виж повече</a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Секция: категория частно събитие работилниц-->
                    <div class="event-wraper up">                                           
                        <div class="calendar">
                            <ul class="week">
                                <li class="day" th:each="workshopItem:${workshopItems}">
                                    <section>
                                        <div class="picture">
                                            <img class="img" th:src="${workshopItem.pictureUrl}" alt="Изображение на събитие COLORTRAP" onContextMenu="return false;">
                                        </div>
                                        <div class="workshop">
                                            <div>
                                                <h2 th:text ="${workshopItem.title}" class="normal"></h2>
                                            </div>
                                            <p th:text = "${workshopItem.suitableFor}"></p>
                                            <p th:text = "${workshopItem.price}"></p>
                                            <div class="btn-list">
                                                <div>
                                                    <a class="btn" th:href="@{|/workshop-pncw/${workshopItem.id}|}" >Виж повече</a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

                 <!-- Секция: За нас -->    
        <div class="section1">
            <div class="about-img">
                <div class="art">
                    <div class="decor-des">
                        <div class="banner">
                            <h2 class="a-title center">За нас</h2>
                            <div>
                               <p class="text-justify">Нашата мисия е проста, но дълбока – да дадем на всеки възможността да твори, да се изразява и да открива радостта в съзиданието. Вярваме, че изкуството не е привилегия, а естествен език на човека – начин да общуваме, да се свързваме и да разбираме света около нас.</p>
                                <p class="text-justify mobile">В COLORTRAP събираме хора от различни посоки, които ги обединява едно – любовта към творчеството. Нашите арт работилници са място за експерименти, за споделяне и вдъхновение. Те не просто учат техники – те отключват въображението и събуждат увереността, че всеки може да бъде творец.</p>
                                <p class="text-justify">Добре дошли в нашия свят – свят, в който цветът е свобода, а изкуството – начин на живот.</p>
                
                                <div class="btn-list">
                                    <div>
                                        <a class="btn" th:href="@{/calendar-pnc-all}" >Разгледай календара</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
    </div>
    
</div>
<th:block>
    <div th:replace="~{fragments/foot}"></div>
</th:block>
</body>
</html>
