<!DOCTYPE html>
<html lang="bg-BG" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      class="sr js_active vc_desktop vc_transform vc_transform ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
 
    <title>COLORTRAP - Частна арт вечер | Празнувайте с творчество</title>
    <meta name="description" content="Организирайте частна арт вечер в COLORTRAP – рожден ден, тиймбилдинг, моминско парти или личен повод. Творческо преживяване с цветове, усмивки и вдъхновение.">

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
    <link rel="stylesheet" th:href="@{/js/stile.js}">
    <script th:src="@{/js/stile.js}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "COLORTRAP",
      "image": "pictures/logo/loge_with_name.png",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. Петко Каравелов 20",
        "addressLocality": "Пловдив",
        "addressCountry": "BG"
      },
      "email": "colortrap.ltd@gmail.com",
      "telephone": "032/557735",
      "url": "https://www.colortrap.azurewebsites.net",
      "sameAs": ["https://www.facebook.com/people/Colortrap/61583353547226/"]
    }
    </script>
</head>

<body>

<div class="main">
    <th:block>
        <div th:replace="~{fragments/nav}"></div>
    </th:block>

    <div class="main-wraper">
        

        <div class="art">
            <div class="decor-img">
                <img class="a-title-img" src="pictures/decor/index_privateParty_image.png" alt="Частна арт вечер с балони и акварелна декорация в COLORTRAP" onContextMenu="return false;">
            </div>
            <div class="decor-des">
                <h1 class="a-title center">Празнувайте различно, творете заедно в COLORTRAP</h1>
                <div>
                    <p class="text-justify mobile">Всеки повод заслужава нещо повече от традиционен празник – той заслужава преживяване, което оставя следа. В <strong>COLORTRAP</strong> превръщаме специалните ви моменти в цветни истории, изпълнени с усмивки, въображение и споделена радост. Нашите частни арт вечери са създадени, за да съберат хората чрез изкуството – в атмосфера, която вдъхновява, отпуска и сближава.</p>
                    <p class="text-justify no-gab">В COLORTRAP вярваме, че изкуството е най-красивият начин да създаваме спомени. Независимо от повода свържете се с нас и ние ще се погрижим вечерта ви да бъде топла, вдъхновяваща и незабравима.</p>
                    <p class="text-justify">Подарете си празник, който ще остане – не само в снимки, а и в усещането за нещо истинско, споделено и красиво.</p>
                    <p class="a-title">Рожден ден с щипка творчество...</p>
                    <p class="a-title">Тиймбилдинг или фирмено събитие...</p>
                    <p class="a-title">Моминско парти с артистичен дух...</p>
                    <p class="a-title">Именни дни и лични поводи...</p>
                    <p class="a-title">Събиране с приятели...</p>
                </div>
                <div class="btn-list">
                        <div>
                            <a class="btn" th:href="@{/calendar-pfc-forkids}" >Работилници за деца</a>
                        </div>
                        <div>
                            <a class="btn" th:href="@{/calendar-pfc-foradults}" >Работилници за възрастни</a>
                        </div>
                        <div>
                            <a class="btn" th:href="@{/calendar-pnc-all}" >Към календар</a>
                        </div>
                        <div>
                            <a class="btn" th:href="@{/promo}" >Специални предложения</a>
                        </div>
                    </div>
            </div>            
        </div>
        
        <ul class="week">
            <li class="day" th:each="workshop:${workshops}">
                <section>
                    <div class="picture">
                        <img class="img" th:src="${workshop.pictureUrl}" alt="Изображение от арт събитие в COLORTRAP" onContextMenu="return false;">
                    </div>
                    <div class="workshop">
                        <div>
                            <h3 th:text ="${workshop.eventType}" class="normal">Тип събитие</h3>
                            <h3 th:text ="${workshop.title}" class="normal">Заглавие на събитие</h3>
                        </div>
                        <p th:text = "${workshop.suitableFor}">Подходящо за всички възрасти</p>
                        <p th:text = "${workshop.price}">40лв. (20.45 &isin;)</p>
                        <div class="btn-list">
                            <div>
                                <a class="btn" th:href="@{|/workshop-pncw/${workshop.id}|}" >Виж повече</a>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </div>
</div>
<th:block>
    <div th:replace="~{fragments/foot}"></div>
</th:block>
</body>
</html>